.overlay {
	background: #39a58e;
}

.content {
	color: #fff;
	background: #39a58e;
	position: center;
	border-radius: 3px;
	margin: 0 auto;
	padding-bottom: 0px;
	border: 1px solid rgba(255, 254, 254, 0.541);
}

.content h3 {
	margin: 0;
	padding-top: 0px;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.content p {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
}

.content-sub p {
	margin: 0;
	padding: 10px 0;
	padding-top: 0px;
	line-height: 2em;
	text-align: center;
}

.how-to {
	margin-top: 15px;
}

.how-to h5{
	font-size: 16px;
	color: rgba(0, 0, 0, 0.685);
}

.how-to footer {
	color: rgba(0, 0, 0, 0.541);
}
