h1 {
	font-weight: 750;
	font-size: 4em;
	margin: 0 auto;
	padding: 0;
	color: rgb(6, 32, 22);
	background: #29c589;
	position: relative;
	opacity: 10%;
}

.App-header {
	padding: 5px;
	text-align: center;
}
