.box {
  display: flex;
  width: 120px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.box div{
  width: 100px;
  height: 100px;
}

.display {
    display: flex;
    justify-content: center;
    /* width: fit-content; */
}

img {
 margin: auto;
 box-align: center;
 align-self: center;
 align-content: center;
 max-height: 150px;
}

li {
 margin: 0px;
 font-weight: 200;
 font-size: .75em;
 text-align: center;
 list-style-type: none;
}

img:hover {
 transform: scale (1.1);
}