.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
 cursor: pointer;
}

li#title {
 font-size: 12px;
 max-width: 100px;
 width: 100%;
 text-align: center;
 list-style-type: none;
 color: white;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img:hover {
 transform: scale (1.1);
 outline: 2px solid palevioletred;
}

@media screen and (max-width: 600px) {
  .box {
    width: 100%;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
  }

  li#title{
    color: oldlace;
    width: 100%;
    max-width: 200px;
  }
}

@media screen and (min-width: 500px) {
  .display {
    justify-content: center;
  }

  img {
    padding: 10px;
    margin: 10px;
   }
}
