  .nav ul {
    list-style: none;
    font-family: Playfair-Display;
    background: #91353f23;
  }
  .nav li {
    font-size: 15px;
  }
   
  .nav a {
    text-decoration: none;
    color: rgb(248, 248, 248);
    transition: .3s background-color;
  }
   
  .nav a:hover {
    background-color: #e255ca;
    color: black;
  }
   
  .nav a.active {
    background-color: rgb(165, 29, 81);
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    .nav li {
      display: inline-block;
      padding: 10px;
      border-bottom: none;
      margin-right: 0px;
      text-align: right;
    }

    .nav ul {
      margin-top: 42px;
    }
    
  }

  @media screen and (max-width: 600px) {
    .nav li {
    display: inline-block;
    padding: 8px;
    border-bottom: none;
    }

    .nav ul {
      margin-top: 72px;
    }
  }