.history {
	justify-content: center;
}

.dynamic-history {
	padding: 10px;
	margin-top: 10px;
}

ul.searchBox {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
	background:rgba(245, 245, 245, 0.527);
	padding: 20px;
	color: rgb(1, 17, 7);
	overflow: auto;
	border-radius: 3px;
}

ul.searchBox li {
	font-size: 28px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 12px;
	color: rgb(0, 0, 0);
	margin: 1px;
	line-height: 1;
	list-style: none;
	font-family: Playfair-Display;
}
  
  button.clear-history {
	display: inline-flex;
	height: 15px;
	box-align: center;
  }

 label {
	  font-size: 28px;
	  letter-spacing: 3px;
	  color: rgb(245, 230, 230); 
  }
