.search-form {
	padding: 10px; 
	margin: 0 auto;
	text-align: center;
}

.search-tv-title {
	padding: 10px;
}

#search-label {
	font-size: 28px;
	  letter-spacing: 3px;
	  color: rgb(245, 230, 230); 
}

img {
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px;  /* Rounded border */
	padding: 5px; /* Some padding */
	width: 100px; /* Set a small width */
  }
  
  /* Add a hover effect (blue shadow) */
  img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
  input#search-term {
	padding-bottom: 10px;
	border-radius: 3px;
	background:rgba(245, 245, 245, 0.527);
	border: 1px solid #e4e6e8;
	transition: 0.1s ease;
	width: 250px;
	margin: 0 auto; 
	padding: 10px 15px;
	max-width: 100%;
	font-weight: bold;
	text-align: center;
  }
  
  select#search-select {
	height: 34px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	color: rgb(245, 230, 230);
  }
  
  button#search-button {
	border: 1px solid #e4e6e8;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.1s ease-in;
	background: transparent;
	margin: 0 auto;
	padding: 10px 25px;
	font-weight: bold;
	margin-top: 10px;
	color: rgb(245, 230, 230);
	}
	
	button:hover {
		box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
		color: rgb(216, 178, 184);
		}