html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Pacifico', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  rgb(12, 24, 27);
  list-style: none;
  background-repeat: none;
}

input:hover {
  border-color: rgb(52, 110, 98);
}

img {
  border-style: none;
  max-width: 100%;
}

button:hover {
  background-color: palevioletred;
  color: #414141;
}

.App {
  text-align: center;
}

